:root {
	overflow-x: hidden;
	--scroll-background: rgba(0, 0, 0, .01);
	--scroll-color: rgba(0, 0, 0, .25);
}

:focus {
    outline: none!important;
}

body {
	overflow-x: unset !important;
}

::-webkit-scrollbar {
	width: 6px !important;
	height: 6px;
	/* background-color: var(--scroll-background)!important; */
	background-color: var(--scroll-background) !important;
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: var(--scroll-background) !important;
}

body ::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: var(--scroll-background) !important;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
	background-color: var(--scroll-color) !important;
}

.overlay--active:before {
    opacity: .0;
}

.shadow {
    -webkit-filter: drop-shadow(2px 2px 2px #ccc);
    filter: drop-shadow(2px 2px 2px #ccc);
}

/* .btn-icon-shadow {
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)!important;
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)!important;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)!important;
} */

*:not(i) {
    font-family: 'Montserrat'!important;
}

.fas {
    font-family: "Font Awesome 5 Free"!important;
    font-weight: 600!important;
}

.far {
    font-family: "Font Awesome 5 Free"!important;
    font-weight: 400!important;
}

.fab {
    font-family: "Font Awesome 5 Brands"!important;
}

.chacheli-layout .chacheli>* {
    
    display: block!important;
}
